<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-title" content="MAHA">
    <meta name="application-name" content="MAHA">
    <meta name="msapplication-config" content="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/browserconfig.xml">
    <meta name="theme-color" content="#4d4d4d">
    <title>The MAHA Platform</title>
    <link rel="apple-touch-icon" type="image/png" sizes="57x57" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" type="image/png" sizes="60x60" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" type="image/png" sizes="76x76" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" type="image/png" sizes="" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/favicon-16x16.png">
    <link rel="manifest" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/manifest.json">
    <link rel="mask-icon" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/safari-pinned-tab.svg" color="#4d4d4d">
    <link rel="shortcut icon" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/images/icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="<%= process.env.WEB_ASSET_CDN_HOST %>/admin/css/font-awesome.min.css">
  </head>
  <body>
    <main id="platform"></main>
  </body>
</html>
